@charset "UTF-8";

@font-face {
  font-family: 'Roobert';
  src: url('../fonts/6169980d420dadb4b85f2a5a_Roobert-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inputmono';
  src: url('../fonts/6169980d420dadfc125f2a59_InputMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('../fonts/6169980dd6c1d99b127e6134_Roobert-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inputmono';
  src: url('../fonts/6169980defcf6c53b7fff1b7_InputMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes bounce-ca {
  0%, 100% {
      top: 0;
  }
  50% {
      top: -20px; /* Zıplama mesafesi */
  }
}

html {
  scroll-padding-top: 4.5rem;
}

.body {
  font-family: Inputmono, sans-serif;
  color: #000;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Roobert, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

p.paragraph-alt {
  margin: 0;
  text-align: left;
}

.main-font {
  font-family: Roobert, sans-serif;
  font-size: 68px;
  line-height: 72px;
  font-weight: 600;
}

.main-font-2 {
  margin-top: 0px;
  margin-bottom: 36px;
  font-family: Roobert, sans-serif;
  font-size: 4.25rem;
  line-height: 4.625px;
}

.paragraph-alt {
  font-family: Inputmono, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.about {
  margin-top: 0px;
  font-family: Roobert, sans-serif;
  font-size: 48px;
  line-height: 52px;

}

.bg-black {
  background-color: #000 !important;
}

.bg-gradient-primary-to-secondary {
  background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

.bg-gradient-primary-to-secondary-pitifun {
  background: linear-gradient(45deg,rgb(20,241,148), rgb(152,71,254)) !important;
}

.font-alt {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.text-gradient {
  background: -webkit-linear-gradient(#2937f0, #9f1ae2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

aside,
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.app-badge {
  height: 3rem;
}

#custom-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

#custom-nav .navbar-brand {
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#custom-nav .navbar-brand:hover,
#custom-nav .navbar-brand:active {
  color: #2937f0;
}

#custom-nav .navbar-toggler {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  color: #212529;
}

#custom-nav .navbar-nav .nav-item .nav-link {
  color: #212529;
}

#custom-nav .navbar-nav .nav-item .nav-link:hover {
  color: #6c757d;
}

#custom-nav .navbar-nav .nav-item .nav-link.active {
  color: #2937f0;
}

@media (min-width: 200px) {
  .navbar-logo {
    width: 15%;
  }
}


@media (min-width: 576px) {
  .navbar-logo {
    width: 15%;
  }
}


@media (min-width: 768px) {
  .navbar-logo {
    width: 7%;
  }
}


@media (min-width: 992px) {
  .navbar-logo {
    width: 5%;
  }
}

@media (min-width: 1200px) {
  .navbar-logo {
    width: 5%;
  }
}

@media (min-width: 1400px) {
  .navbar-logo {
    width: 5%;
  }
}

@media (min-width: 200px) {
  .navbar-margin-top {
    margin-top: 0px !important;
  }
}

@media (min-width: 765px) {
  .navbar-margin-top {
    margin-top: 1.5rem !important;
  }
}


section.info {
  position: relative;
  padding: 5rem 0;
  background-color: #212223;
  background-position: center;
  background-size: cover;
}

section.info .info-content {
  position: relative;
  z-index: 1;
}

section.info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 34, 35, 0.5);
}

footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}

.masthead {
  background-color: #fff;
  padding-bottom: 5rem;
}

@media (min-width: 150px) {
  .masthead {
    padding-top: 7rem !important;
  }
}

@media (min-width: 765px) {
  .masthead {
    padding-top: 9.5rem !important;;
  }
}


.about-image {
  text-align: justify;
  max-width: 291px;
}

.image-8 {
  display: block;
  width: 32px;
  margin-right: 16px;
}

.pitis-background-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  width: 50%;
  height: 100%;
  background-image: url("../images/back.png");
  background-position: 100% 0%;
  background-size: 580px;
  background-repeat: no-repeat;
}

.footer-background-image {
  position: absolute;
  left: auto;
  bottom: 0;
  right: 10%;
  width: 12%;
  z-index: 10;
}

.roadmap {
  font-size: 48px;
}

.roadmap-heading {
  font-family: Raleway, sans-serif;
}

section.faq {
  position: relative;
  padding: 5rem 0;
  background-color: rgba(4, 130, 157, 0.3);
  background-position: center;
  background-size: cover;
}


.footer-piti {
  position: relative;
  background-color: #212223;
}

#pieChart {
  border: 1px solid #ccc;
}

.cont-addr {
  width: 100%;
  overflow: auto;
  padding-top: 15px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#cont-addr-pitifun {
  position: relative;
  animation: none;
}

.piti-link-text-none {
  text-decoration: none;
}

.alert-ca {
  z-index: 10000;
  display: none;
  /* Başlangıçta görünmez */
  position: fixed;
  /* Sabit pozisyon */
  top: 50%;
  /* Üstten yarıya */
  left: 50%;
  /* Soldan yarıya */
  transform: translate(-50%, -50%);
  /* Tam ortala */
  min-width: 300px;
  /* Minimum genişlik */
  background-color: green;
  /* Kırmızı arka plan */
  color: white;
  /* Beyaz yazı */
  text-align: center;
  /* Metni ortala */
  padding: 20px;
  /* İç boşluk */
  border-radius: 5px;
  /* Köşeleri yuvarlat */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Gölge ekle */
}

.closebtn {
  position: absolute;
  /* Mutlak pozisyon */
  top: 5px;
  /* Üstten 5px */
  right: 15px;
  /* Sağdan 15px */
  color: white;
  /* Beyaz yazı */
  font-weight: bold;
  /* Kalın yazı */
  cursor: pointer;
  /* İmleç işareti */
}

.alert-soon {
  z-index: 10000;
  display: none;
  /* Başlangıçta görünmez */
  position: fixed;
  /* Sabit pozisyon */
  top: 50%;
  /* Üstten yarıya */
  left: 50%;
  /* Soldan yarıya */
  transform: translate(-50%, -50%);
  /* Tam ortala */
  min-width: 300px;
  /* Minimum genişlik */
  background-color: #f44336;
  /* Kırmızı arka plan */
  color: white;
  /* Beyaz yazı */
  text-align: center;
  /* Metni ortala */
  padding: 20px;
  /* İç boşluk */
  border-radius: 5px;
  /* Köşeleri yuvarlat */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Gölge ekle */
}